@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
  
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
  
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
  
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        visibility: visible;
    }
  
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
  
    20%,
    60%{
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
  
    40%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
  
.shake {
    -webkit-animation: shake .5s ease;
    animation: shake .5s ease;
}

.slideUp {
    -webkit-animation: slideUp .8s ease;
    animation: slideUp .8s ease;
    opacity: 1;
    -webkit-transform: translateY(0, 0, 0);
    transform: translateY(0, 0, 0);

    &.wait {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;

        &.longer {
            -webkit-animation-delay: .01s;
            animation-delay: .01s;
            -webkit-animation-duration: .8s;
            animation-duration: .8s;
        }
    }
}
  
.flip {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation: flip;
    animation: flip;
}