@font-face {
  font-family: "Galano Grotesque";
  src: url("../fonts/GalanoGrotesque-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../fonts/GalanoGrotesque-Light.woff2") format("woff2"),
    url("../fonts/GalanoGrotesque-Light.woff") format("woff"), url("../fonts/GalanoGrotesque-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../fonts/GalanoGrotesque-Medium.woff2") format("woff2"),
    url("../fonts/GalanoGrotesque-Medium.woff") format("woff"), url("../fonts/GalanoGrotesque-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../fonts/GalanoGrotesque-SemiBold.woff2") format("woff2"),
    url("../fonts/GalanoGrotesque-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../fonts/GalanoGrotesque-ExtraBold.woff2") format("woff2"),
    url("../fonts/GalanoGrotesque-ExtraBold.woff") format("woff"),
    url("../fonts/GalanoGrotesque-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

/* alt */
/* @font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/GalanoGrotesqueAltExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/GalanoGrotesqueAltLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/GalanoGrotesqueAltMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/GalanoGrotesqueAltSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque Alt";
  src: url("../fonts/GalanoGrotesqueAltExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
} */
