.breadcrumbs {
    font-size: clamp(12px,2vw,18px);
    letter-spacing: 0;
    cursor: pointer;
    &__title {
        font-weight: $font-bold;
        color: $brand-color;
        margin-right: 10px;
    }
    &__space {
        margin-right: 10px;
    }
    &__subtitle {
        margin-right: 10px;
        &.active {
            color: $brand-color;
            font-weight: $font-bold;
        }
    }
}