.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    &-open {
        overflow: hidden;

        .modal.in {
            overflow-x: hidden;
            overflow-y: auto;
            //display: flex !important;
            height: 100%;
            align-items: center;
        }
    }

    &__dialog {
        position: relative;
        width: auto;
        margin: 10px;
        @include media(768px) {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }

        &--xs {
            @include media(768px) {
                width: 320px;
            }
        }

        &--sm {
            @include media(768px) {
                width: 430px;
            }
        }


        &--md {
            @include media(768px) {
                width: 500px;
            }
        }

        &--lg {
            @include media(992px) {
                width: 630px;
            }
        }
    }

    &.fade &__dialog {
        -webkit-transition: all .3s ease-out;
        -o-transition:      all .3s ease-out;
        transition:         all .3s ease-out;
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0;
    }

    &.in &__dialog {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    &__content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid transparent;
        border-radius: 16px;
        outline: 0;
        box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 31px 41px 0 rgba(33, 43, 54, 0.2);
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: rgba(0, 0, 0, 0.705);

        &.fade {
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transition: all .3s ease-out;
            -o-transition:      all .3s ease-out;
            transition:         all .3s ease-out;
        }

        &.in {
            filter: alpha(opacity=53);
            opacity: .53;
        }
    }

    &__header {
        padding: 15px;
        border-bottom: 1px solid transparent;
        background-color: #ffffff;
        .close {
            margin-top: 6px;
        }

    }

    &__title {
        margin: 0;
        line-height: 1.5;
        font-size: 18px;
        margin-top: 10px;
        font-family: inherit;
        font-weight: $font-semi-bold;
        text-transform: uppercase;
    }

    &__body {
        position: relative;
        padding: 24px;
    }

    &__footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;

        .btn + .btn {
            margin-bottom: 0;
            margin-left: 5px;
        }

        .btn-group {
            .btn + .btn {
                margin-left: -1px;
            }
        }

        .btn--block + .btn--block {
            margin-left: 0;
        }

        .btn--block {
            padding-bottom: 10px;
        }
    }

    &-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
    }
}

.close {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 3;
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.modal-content{
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}